# macOS
.DS_Store
.AppleDouble
.LSOverride
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.icloud

# IntelliJ IDEA / JetBrains
.idea/
*.iml
*.iws
*.ipr
out/
.idea_modules/

# Logs and temp
*.log
*.tmp
*.swp
*~
